body { width: 95%; margin: auto; }
article section p {
    font-size: 2em;
}

h1 { font-size: 2.5em; }
h2 { font-size: 2.2em; }

ol.chapters {
    list-style: none;
    margin-left: 0;
}

ol.chapters > li:before {
    content: counter(chapter) ". ";
    counter-increment: chapter;
    font-weight: bold;
    float: left;
    width: 40px;
}

ol.chapters li {
    clear: left;
}

ol.start {
    counter-reset: chapter;
}

ol.continue {
    counter-reset: chapter 37;
}

.toc {
    font-size: 1.5em;
}


